@import "../node_modules/normalize.css/normalize.css";
@import "./reset.scss";
@import "./layout.scss";
@import "./button.scss";
@import "./headings.scss";

.separator {
  position: relative;
  height: 0;

  border: 0.05em solid #eee;
  margin: 1em 0;
  padding: 0;
  display: flex;
  justify-content: center;
  span {
    position: absolute;
    display: flex;
    top: 0;
    transform: translateY(-50%);
    background: white;
    padding: 0.2em 0.5em;
    color: #ddd;
  }
}

form {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-flow: column;

  button {
    margin-top: 1em;
  }
}

label {
  padding: 0 0 0.5em;
  div {
    padding: 0 0 0.2em;
  }
}

input {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  width: 100%;
  min-width: 19em;

  &::placeholder {
    color: #ddd;
  }
}

strong {
  font-size: 1.5em;
}

.center {
  text-align: center;
}

button.square {
  width: 8em;
  height: 8em;
}
