form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;

  label {
    display: flex;
    flex-flow: column;
    padding: 0 0 0.5em;
    &.row {
      flex-flow: row;
      align-items: center;
    }

    div {
      padding: 0 0 0.1em;
    }

    .error {
      height: 1em;
      font-weight: bold;
    }

    input[type="checkbox"] {
      position: relative;
      display: flex;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
      &::before {
        visibility: visible;
        display: flex;
        border: 0.1em solid black;

        content: " ";
        width: 1.5em;
        height: 1.5em;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-flex;
        border-width: 0.25em;
        border-style: solid;
        border-color: black;
        border-top: none;
        border-right: none;
        margin-right: 0.5em;
        content: " ";
        width: 0.6em;
        height: 1em;
        transform: translate(0.45em, 0.2em) rotate(-45deg);
        visibility: hidden;
      }

      &:checked {
        &::before {
          background: #eee;
        }
        &::after {
          visibility: visible;
        }
      }
    }
  }

  a {
    margin-top: 1em;
  }

  button {
    width: 100%;
  }
}

input[type="text"] {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  width: 100%;
  min-width: 19em;

  &::placeholder {
    color: #ddd;
  }
}

input[type="color"] {
  appearance: none;
  cursor: pointer;
  height: 2.35em;
  padding: 0.2em 1em;
  border: 0.1em solid #eee;
  background: #eee;
  width: 100%;
  min-width: 19em;

  &::placeholder {
    color: #ddd;
  }
}
