form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;

  label {
    display: flex;
    flex-flow: column;
    padding: 0 0 0.5em;
    &.row {
      flex-flow: row;
      align-items: center;
    }

    &:last-of-type {
      margin-bottom: 2em;
    }

    div {
      padding: 0 0 0.1em;
    }

    .error {
      height: 1em;
      font-weight: bold;
    }
  }

  button {
    width: 100%;
  }
}

input:not([type="checkbox"]):not([type="radio"]) {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  width: 100%;
  min-width: 19em;

  &::placeholder {
    color: #ddd;
  }

  &[type="range"] {
    padding: 0.5em 0;
  }
}

input[type="color"] {
  appearance: none;
  cursor: pointer;
  height: 2.35em;
  padding: 0.2em 1em;
}

