.layout {
  display: flex;
  min-height: 100vh;
  flex-flow: column;

  .header,
  .footer {
    display: flex;
    justify-content: center;
    background-color: #eee;
    height: 3em;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      max-width: 50em;
      a {
        display: flex;
        align-items: center;
        img {
          height: 2.5em;
          padding-right: 0.5em;
        }
      }
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50em;

    .tagline {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: 3em;
      text-align: center;
      @media only screen and (max-width: 768px) {
        font-size: 2em;
      }
      button {
        font-size: 0.8em;
        padding: 0.1em 1em;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 3em;
    a {
      padding: 0.5em 1em;
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
