.layout {
  display: flex;
  min-height: 100vh;
  flex-flow: column;

  .header,
  .footer {
    display: flex;
    justify-content: center;
    background-color: #eee;
    height: 3em;

    header,
    footer {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 50em;
      padding: 0 0.5em;
    }

    header {
      justify-content: space-between;
      a {
        display: flex;
        align-items: center;
        img {
          height: 2.5em;
          padding-right: 0.5em;
        }
        span {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }

    footer {
      justify-content: center;
      a {
        padding: 0.5em 1em;
      }
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    main {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 50em;
      padding: 0.5em;

      .tagline {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 3em;
        text-align: center;
        @media only screen and (max-width: 768px) {
          font-size: 2em;
        }
        button {
          font-size: 0.8em;
          padding: 0.1em 1em;
        }
      }
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
