*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-flow: column;

  .header {
    display: flex;
    justify-content: center;
    background-color: #eee;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    padding: 0 0.5em;
    width: 100%;
    max-width: 50em;
    a {
      display: flex;
      align-items: center;
      img {
        height: 2.5em;
        padding-right: 0.5em;
      }
    }
  }

  main {
    flex-grow: 1;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 3em;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    text-decoration: underline;
  }
}

header, footer {
  a {
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 3em;
    &:hover {
      text-decoration: inherit;
      background: #ddd;
    }
  }
  
}
